<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>stu | html</title>
    <style>
        div{
            width: 100px;
            height: 100px;
            background: red;
            margin-top: 20px;
        }
        .font-whith{
            color: white;
        }
        #font-red{
            background: #1b6d85;
        }
    </style>
</head>
<body>
    <div class="font-whith">
        一个没有样式的盒子
    </div>

    <div id="font-red">
        二个没有样式的盒子
    </div>

    <div>
        三个没有样式的盒子
    </div>

    <p>四个没有样式的p标签</p>
</body>
</html>